$size: 200px;
$width: 20px;
$color: red;


ul {
    margin: 0;

    li {
        margin: 0;
    }
     
    a {
        display: block;

    }

    span {
        color: red;
    }
}

ul {
    margin: 0;
    display: block;
    animation: menu 1s;

    &:hover{
        color: green;
    }

    &::before {
        content: "EDteam";
    }

    @media screen and(min-width: 640px){
        display: flex;
        
    }

    @keyframes menu {
        to {
            color:red;
        }
        
    }
   
}


.menu {
    display: block;

    &-item {
        color: red;
    }

  /*   font: {
        size: 1em;
        style: italic;
        family: arial;
    } */

    grid-template: {
        columns: 100px 100px;
        rows: auto;
    }
}