$buttons: true !default;
$buttons-colors: (
    primary: blue,
    secondary: yellow,
    alert: red,
    cta: purple,
    error: pink
);

$breakpoints: (
    small: 320px,
    medium: 640px,
    large: 1024px,
    xlarge: 1440px
);