/* 
    Funciones de introspeccion

    inspect() es similar a un console.log() en javascript
    type-of() devuelve el tipo de dato
    unit() devuelve la unidad de un numero como string
    unitless() devuelve un boolean(true) si el numero no tiene unidad
    mixin-exists($mixin) para evaluar si un mixin existe
    function-exists(function)
    variable-exists(variable)
    global-variable-exist(variable)

   
*/
body {
  background: red; }

body {
  color: (primary: yellow, secondary: red);
  color: "px";
  color: ""; }
