@charset "UTF-8";
/* 
    Funciones de números

    percentage($numero)
    max($number1,$number2,$number3)
    floor($numero) redondea hacia abajao
    ceil($numero) redondea hacia arriaba
    round($numero) redonde al que este mas cercano
    random($numero) numero aleatorio

*/
body {
  width: 100%;
  width: 100%;
  width: 54;
  width: 1; }
