
// CODIGO PARA HACER DEGRADADO COLORES
// $colors: hsl(0,100,50);
// @for $i from 0 through 360 {
//     body {
//         $colors: append($colors, hsl($i, 100, 50), comma);
//    }
   
// }

// body {
//     margin: 0;
//     background: linear-gradient($colors);
//     min-height: 100vh;
// }

// CODIGO PARA HACER DEGRADADO EN LA ESCALA DE GRISES
// $colors: hsl(0,0,0);
// @for $i from 1 through 100 {
//     body {
//         $colors: append($colors, hsl(0, 0, $i), comma);
//    }
   
// }

// body {
//     margin: 0;
//     // background: linear-gradient($colors);
//     background: linear-gradient(to top,$colors);
//     min-height: 100vh;
// }    
// CODIGO PARA HACER DEGRADADO CIRCULAR
$colors: hsl(0,0,0);
@for $i from 1 through 100 {
        $colors: append($colors, hsl(0, 0, $i), comma);
   
}

body {
    margin: 0;
    background: radial-gradient(circle at center, $colors);
    min-height: 100vh;
}


