@import 'config/variables';
@import 'config/functions';

// Color sustractivo (pintura, par imprenta)
    // cyan, magenta, amarillo, black modo de color (CMYK)
// Color aditivo (luz, para pantalla)
    // red, green , blue ( RGB )
    // 255  255     255 == 2**8,2**8,2**8,2**8 = 16Millones de colores = Profundidad de color de 24bits
    // 23,200,146
        // Notación hexadecimal
        // #RRGGBB
        // #AAEE00
        // 0123456789ABCDEF

    // hue, saturation, lighten (HSL)
    // hue => tono de color( de 0 a 360)
    // saturation => intensidad del color, de gris al color puro de (0% a 100%) 100% es el color puro
    // lighten => cantidad de luz de (0% da negro a 100% da blanco) el color puro esta en 50%
    // HUE
        // 0/360
        // 60 => YELOW
        // 120 => GREEN
        // 180 => CYAN
        // 240 = BLUE
        // 300 = MAGENTA

/* 
    FUNCIONES SAAS PARA COLOR

    RGB
        red($color)
        green($color)
        blue($blue)

    HSL
        hue($color)
        saturation($color)
        lightness($color)

        darken($color,cantidad-a-oscurecer)
        lighten($color,cantidad-a-oscurecer)
        saturate($color,cantidad-a-oscurecer)
        dsaturate($color,cantidad-a-oscurecer)
        saturate($color,cantidad-a-oscurecer)
        adjust-hue($color,cantidad)


*/

    // $color: #33AA65;

    $base-color: hsl(200,100%,51%);
    $text-color-light: #fff;
    $text-color-dark: #222;


   @function color-text(){
       @if lightness($base-color) > 50 {
           @return $text-color-dark;
       }@else {
            @return $text-color-light;
       }
   }

   @mixin button($color) {
       display: inline-block;
       border: none;
       padding: .5em 1.5em;
       background: $color;
       
   }

   button {
       @include button(yellow);
   }

    body {
        /* background: hsl(60,90,50);
        red: red(hsl(60,90,50)); */
     /*    h: hue($color);
        s: saturation($color);
        l: lightness($color); */
        /* background: $base-color;
        color: color-text(); */

        $color: red;
        // background: darken($color, 10);
        // background: lighten($color, 10);
        // background: desaturate($color, 80);
        // background: adjust-hue($color, 60);
    }
    
    
    
    