.button-red {
  color: red; }

.button-green {
  color: green; }

.button-blue {
  color: blue; }

.button-primary {
  background: red; }

.button-secondary {
  background: green; }

.button-tertiary {
  background: blue; }

.button-primary {
  size: 1em; }

.button-secondary {
  size: 2em; }

.button-tertiary {
  size: 3em; }
