/*  
    OPCIONES DE COMPILACION
    --output-style= expanded | compressed | nested | compact
    --source-comments
    --source-map=true


*/


body {
    color: red;
    background: blue;
    p{
        display: inline;

    }
}

p{
    color: green;
}