@mixin button($color) {
    @if $buttons {
        .button{
            display: inline-block;
            margin: 1em; 
            color: $color;   
        }

        a {
            text-decoration: none;
        }
    }
    
    
}

@mixin menu($selector-item:'item-defecto', $selector-link:'link-defecto'){
    margin-top: 0;
    margin-bottom: 0;
    padding-left:0;
    list-style: none;

    #{$selector-item}{
        display: block;
    }

    #{$selector-link}{
        text-decoration: none;
        display: block;
    }
}