@mixin button {
    @if $buttons {
        .button{
            display: inline-block;
            margin: 1em;    
        }

        a {
            text-decoration: none;
        }
    }
    
    
}